<footer id="footer" class="bg-dark">
    <div class="container">
		<p>La Bibliothèque 2015-2019 — <em>Tous droits réservés</em></p>
		<p><em>Aucun livre n'a été ou ne sera maltraité durant les spectacles.</em></p>
		<dl>
			<dt>Photos</dt><dd><a href="https://www.facebook.com/PakMingWanPhotography">Pak-Ming Wan</a> et Nicolas Huang</dd>
			<dt>Éditeur</dt><dd>Association loi 1901 "Compagnie Falbala" 52 rue Jeanne d'Arc, Paris 13e</dd>
			<dt>Responsable de la rédaction</dt><dd>Olivier Sambourg</dd>
			<dt>Hébergeur</dt><dd><a href="http://github.io" title="Github">Github</a></dd>
		</dl>
	</div>
</footer>
